<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li *ngIf="isLogin" class="nav-item">
          <a class="nav-link active" routerLink="/home">Home</a>
        </li>
        <li *ngIf="isLogin" class="nav-item">
          <a class="nav-link active" routerLink="/cart">Cart</a>
        </li>
        <li *ngIf="isLogin" class="nav-item">
          <a class="nav-link active" routerLink="/categories">Categories</a>
        </li>
        <li *ngIf="isLogin" class="nav-item">
          <a class="nav-link active" routerLink="/brands">Brands</a>
        </li>
        <li *ngIf="isLogin" class="nav-item">
          <a class="nav-link active" routerLink="/dashboard">Dashboard</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
        <li class="nav-item d-flex it">
          <i class="fab mx-2 fa-facebook"></i>
          <i class="fab mx-2 fa-twitter"></i>
          <i class="fab mx-2 fa-linkedin"></i>
          <i class="fab mx-2 fa-youtube"></i>
        </li>
        <li *ngIf="!isLogin" class="nav-item">
          <a class="nav-link active" routerLink="/login">Login</a>
        </li>
        <li *ngIf="!isLogin" class="nav-item">
          <a class="nav-link active" routerLink="/register">Register</a>
        </li>
        <li *ngIf="isLogin" class="nav-item">
          <a class="btn btn-outline-ftg" (click)="logOut()" routerLink="/login"
            >Log Out</a
          >
        </li>
        <li *ngIf="isLogin" class="nav-item">
          <a class="btn btn-outline-ftg" routerLink="/setting">Settings</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
