<div class="row gx-0">
  <div class="col-md-9">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide
        ><img height="300" src="assets/1.jpg"
      /></ng-template>
      <ng-template carouselSlide
        ><img height="300" src="assets/color.jpg"
      /></ng-template>
      <ng-template carouselSlide
        ><img height="300" src="assets/shop.jpg"
      /></ng-template>
      <ng-template height="300" carouselSlide
        ><img src="assets/6.jpg"
      /></ng-template>
    </owl-carousel-o>
  </div>
  <div class="col-md-3">
    <img height="150" src="../../assets/Fashion.png" />
    <img height="150" src="../../assets/slider.png" />
  </div>
</div>
